html {
  background-color: #f9c9c3;
  color: #3f5d70;
}
body {
  margin: 8px 0px;
  margin-bottom: 0;
}
.project-description {
  text-align: center;
}
.project-title {
  text-align: center;
}
.cover-image {
  margin: 0 auto;
  margin-bottom: 2vw;
  width: 100%;
}
.small-image {
  object-fit: cover;
  margin-bottom: 2vw;
  width: 100%;
}
@media (min-width: 800px) {
  .small-images-container > * {
    flex-basis: 50%;
  }
  .small-images-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 2vw;
    margin: 0 -1vw;
  }
  .small-image {
    box-sizing: border-box;
    object-fit: cover;
    padding: 1vw;
    width: 50%;
  }
  .architecture-project-hero-wrapper {
    margin: 8vw;
  }
}
.footer {
  background: black;
  color: white;
  padding: 1vw 8vw;
}
.footer-text {
  text-align: left;
  font-size: clamp(1rem, 2vw, 2rem);
  max-width: 18rem;
}
.footer-social {
  text-align: right;
  font-size: clamp(1rem, 2vw, 2rem);
  list-style-type: none;
  text-decoration: underline;
}
