html {
  background-color: #f9c9c3;
  color: #3f5d70;
  text-align: center;
}
.cover-image {
  margin: 0 auto;
  margin-bottom: 2vw;
  width: 100%;
}
.small-image {
  object-fit: cover;
  width: 100%;
  margin-bottom: 2vw;
}
@media (min-width: 800px) {
  .small-images-container > * {
    flex-basis: 50%;
  }
  .small-images-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 2vw;
  }
  .small-image {
    width: 50%;
    object-fit: cover;
  }
}
