html {
  font-family: Roboto;
  font-size: 12px;
}
h1 {
  font-size: clamp(2rem, 4vw, 4rem);
}
.nav-bar {
  font-size: clamp(1.5rem, 2vw, 3rem);
  font-weight: 700;
  margin: 2.5vw 2vw 0;
  overflow: hidden;
}
.sidenav {
  background-color: #111;
  height: 0;
  left: 0;
  position: fixed;
  overflow-y: hidden;
  top: 0;
  transition: 0.5s;
  width: 100%;
  z-index: 1;
}
.project-list {
  padding-top: 6rem;
}
.sidenav a {
  color: white;
  display: block;
  font-size: clamp(2rem, 4vw, 3rem);
  font-weight: 500;
  padding: 1rem;
  position: relative;
  text-decoration: none;
}
.project-list a::after {
  background: currentColor;
  bottom: 0;
  content: "";
  left: 0;
  height: 0.5rem;
  position: absolute;
  width: 50%;

  transform: scaleX(0);
  transform-origin: center left;
  transition: transform 250ms ease-in;
}
.project-list a:hover::after {
  transform: scaleX(0.5);
  text-decoration: line-through;
  transform-origin: center left;
}
.sidenav .closebtn {
  font-size: clamp(1.5rem, 2vw, 3rem);
  font-weight: 700;
  float: right;
  margin: 2.5vw 2vw;
  overflow: hidden;
  text-decoration: line-through;
}
.project-list {
  margin: 2vw;
}
.contact {
  float: left;
}
.more {
  float: right;
  cursor: pointer;
}
.text-wrapper {
  align-items: center;
  display: flex;
  font-size: clamp(2rem, 4vw, 4rem);
  font-weight: bold;
  line-height: 130%;
  justify-content: center;
  padding: 3rem;
  padding-bottom: 6rem;
}
@media (min-width: 800px) {
  .intro-wrapper > * {
    flex-basis: 50%;
  }
  .intro-wrapper {
    display: flex;
    flex-direction: row;
    margin: 6vw;
    margin-bottom: 4vw;
  }
  .text-wrapper {
    padding: 0vw 2vw 0vw;
  }
}
img {
  max-width: 100%;
}
.background-color-arch {
  background-color: #a150ba;
  color: white;

  cursor: pointer;
}
.background-color-web {
  background-color: #a150ba;
  color: white;
  cursor: pointer;
}
.gif-wrapper {
  align-items: center;
  display: flex;
  justify-content: center;
}
.project-description {
  font-size: clamp(1rem, 3vw, 3.3rem);
  font-weight: 500;
}
.project-hero-wrapper {
  margin: 8vw;
}
.facts-section {
  background: black;
  color: white;
  font-size: clamp(1.5rem, 4vw, 2rem);
  font-weight: 500;
}
.text-fact {
  align-items: center;
  display: flex;
  font-size: clamp(1.5rem, 4vw, 2rem);
  font-weight: bold;
  line-height: 130%;
  justify-content: center;
  padding: 3rem;
  padding-bottom: 6rem;
}
@media (min-width: 800px) {
  .seperate-facts > * {
    flex-basis: 50%;
  }
  .seperate-facts {
    display: flex;
    flex-direction: row;
    margin: 6vw;
    margin-bottom: 4vw;
  }
  .text-fact {
    padding: 0vw 2vw 0vw;
  }
}
