html {
  font-family: Roboto;
  font-size: 12px;
}
h1 {
  font-size: clamp(2rem, 4vw, 4rem);
}
.nav-bar {
  font-size: clamp(1.5rem, 2vw, 3rem);
  font-weight: 700;
  margin: 1vw;
  overflow: hidden;
}
.contact {
  float: left;
}
.projects {
  float: right;
}
@media (min-width: 800px) {
  .intro-wrapper > * {
    flex-basis: 50%;
  }
  .intro-wrapper {
    display: flex;
    flex-direction: row;
    margin: 6vw;
    margin-bottom: 4vw;
  }
}
.text-wrapper {
  align-items: center;
  display: flex;
  font-size: clamp(2rem, 4vw, 4rem);
  font-weight: bold;
  line-height: 130%;
  justify-content: center;
  padding: 0vw 2vw 0vw;
}
.background-color {
  background-color: #a150ba;
  color: white;
}
.gif-wrapper {
  align-items: center;
  display: flex;
  justify-content: center;
}
.project-description {
  font-size: clamp(1rem, 3vw, 3.3rem);
  font-weight: 500;
}
.project-hero-wrapper {
  margin: 8vw;
}
