html {
  font-family: Roboto;
  font-size: 12px;
}
h1 {
  font-size: clamp(2rem, 4vw, 4rem);
}
.nav-bar {
  font-size: clamp(1.5rem, 2vw, 3rem);
  font-weight: 700;
  margin: 3vw;
  overflow: hidden;
}
img {
  max-width: 100%;
}
.sidenav {
  height: 0;
  width: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111; /* Black*/
  overflow-y: hidden; /* Disable horizontal scroll */
  /* padding-top: 60px;  */
  /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}
.sidenav a {
  padding: 1rem;
  text-decoration: underline;
  font-size: clamp(2rem, 4vw, 3rem);
  color: white;
  display: block;
  transition: 0.3s;
}
.sidenav .closebtn {
  font-size: clamp(1.5rem, 2vw, 3rem);
  font-weight: 700;
  margin: 1vw;
  overflow: hidden;
  float: right;
}
.project-list {
  margin: 2vw;
}
.contact {
  float: left;
}
.projects {
  float: right;
  cursor: pointer;
}
.text-wrapper {
  align-items: center;
  display: flex;
  font-size: clamp(2rem, 4vw, 4rem);
  font-weight: bold;
  line-height: 130%;
  justify-content: center;
  padding: 3rem;
  padding-bottom: 6rem;
}
@media (min-width: 800px) {
  .intro-wrapper > * {
    flex-basis: 50%;
  }
  .intro-wrapper {
    display: flex;
    flex-direction: row;
    margin: 6vw;
    margin-bottom: 4vw;
  }
  .text-wrapper {
    padding: 0vw 2vw 0vw;
  }
}

.background-color {
  background-color: #a150ba;
  color: white;
}
.gif-wrapper {
  align-items: center;
  display: flex;
  justify-content: center;
}
.project-description {
  font-size: clamp(1rem, 3vw, 3.3rem);
  font-weight: 500;
}
.project-hero-wrapper {
  margin: 8vw;
}
